*{
    /* font-size: 8px; */
    margin: 0px 0px;
}

table, th, td {
    border: 0.5px solid black;
    border-collapse: collapse;
    width: 100vw;
    /* table-layout: fixed; */
  }

button{
    background-color: black;
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.header{
   background-color: black;
   color: white;
   padding: 20px;  
}

#search{
    width: 82%;
    padding: 10px;  
    margin: 15px;
}
#searchBtn
{
  padding: 10px 35px;
}


.sbutton{
    background-color: black;
    color: white;
    padding: 15px 45px;
    margin: 10px;
}

.table-data{
    display: flex;
    width: auto;
}

table{
    width: 100vw;
    /* table-layout: fixed; */
}

td{
    text-align: left;
    padding-left: 5px;
    width: 100px;
}

th{
    text-align: left;
    padding-left: 5px;
    width: 16vw;
}

.id{
    width: 100px;
}

.name{
    width: 50px;
}

.gender{
    width: 40px;
}

.class, .marks, .passing{
    width: 20px;
}

.email{
    width: 100px;
}
